{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mb-4">Dashboard</h1>

    <h3 class="mb-4">Kampagnen, die diesen Monat enden</h3>

    {{ include('components/table/campaigns.html.twig', { 'campaigns': campaignsEndingThisMonth }) }}

    <h3 class="mb-4">Meine aktiven Kampagnen</h3>

    {{ include('components/table/campaigns.html.twig', { 'campaigns': myActiveCampaigns }) }}

{% endblock %}
