{% extends 'base.html.twig' %}

{% block title %}Kampagnen{% endblock %}

{% block body %}

    <h1 class="mb-4">Kampagnen</h1>

    {{ include('components/table/campaigns.html.twig', { 'campaigns': campaigns }) }}

    <a class="btn btn-primary" href="{{ path('app_campaign_new') }}">Neue Kampagne</a>

{% endblock %}
