{% extends 'base.html.twig' %}

{% block title %}Kampagnen{% endblock %}

{% block body %}

    <h1 class="mb-4">{{ heading|default('Kampagnen') }}</h1>

    {{ include('components/table/campaigns.html.twig', { 'campaigns': campaigns }) }}

    {% if app.request.attributes.get("_route") == 'app_campaign_index' %}
        <a class="btn btn-primary" href="{{ path('app_campaign_new') }}">Neue Kampagne</a>
    {% endif %}

{% endblock %}
