{% extends 'base.html.twig' %}

{% block title %}Neue Kampagne{% endblock %}

{% block body %}

    <h1 class="mb-4">Neue Kampagne erstellen</h1>

    {{ include('campaign/_form.html.twig') }}

    <a href="{{ path('app_campaign_index') }}">Zurück</a>

{% endblock %}
