{% extends 'base.html.twig' %}

{% block title %}Kundendetails aktualisieren{% endblock %}

{% block body %}

    <h1 class="mb-4">Kundendetails aktualisieren</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Aktualisieren'}) }}

    <a class="btn btn-outline-primary" href="{{ path('app_client_index') }}">Zurück</a>

    {{ include('client/_delete_form.html.twig') }}

{% endblock %}
