{% extends 'base.html.twig' %}

{% block title %}Neuer Kunde{% endblock %}

{% block body %}

    <h1 class="mb-4">Neuen Kunden erfassen</h1>

    {{ include('client/_form.html.twig', { 'button_label': 'Kunde erfassen' }) }}

    <a href="{{ path('app_client_index') }}">Zurück</a>

{% endblock %}
